<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      #main_container {
        position: fixed;
        display: flex;
        background: #e1e1e1;
        flex-flow: row nowrap;
        width: 100%;
        height: 100%;
      }

      #content_container {
        flex: 1;
        background: #cdcdcd;
      }

      #users_container {
        overflow: auto;
        padding: 20px;
        background: #ededed;
        width: 200px;
      }

      #users_container .active {
        background: red;
      }

    </style>
  </head>
  <body ng-app="main">
    <div id='main_container'>
      <div id='content_container'>
        <!-- <input type="file" onchange="angular.element(this).scope().onInputChange()" id='video_picker'/>
        <button ng-click="toggleBroadcast()"> {{ broadcasting ? 'End' : 'Begin' }} broadcast </button>
        <video controls width='100%' id='video_player'></video>
        <img width="100%" id='stream_preview'></img> -->
      </div>
      <div id='users_container' ng-controller="UsersController as usersController">
        <h4 class='title'> Active users </h4>
        <div ng-repeat="user in usersController.users"
             ng-attr-id="{{ user.id }}"
             ng-click="usersController.setSelected(user.id)"
             ng-class="{ 'active': usersController.isSelected(user.id) }">
          {{ user.name }}
        </div>
      </div>
    </div>
  </body>
</html>
