<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="camdemo" style="text-align: center; margin: 0 auto; display: block;"></div>
    <br>
    <div style="text-align:center;">
        <input type="button" id="start" value="Start / Shut down camera"/>
    </div>
    <br>
    <canvas id="encrypted" style="text-align: center; margin: 0 auto; display: block;">
    </canvas>
    <canvas id="decrypted" style="text-align: center; margin: 0 auto; display: block;">
    </canvas>
  </body>
</html>
